<footer>
    <div class="container">
        <div class="row">

            <div class="one-third column">
                <button id="switchNightmode" class=""> <i class="ion-ios-moon"></i> <span id="nightmodeIndicator">Enable</span> Night Mode </button>
            </div>

            <div class="one-third column">
                <h5>License</h5>
                The content provided on this page is under the MIT License. <a href="/license">Read more</a>
            </div>

            <div class="one-third column">
                <h5>Development</h5>
                wiki.stillh.art is developed by <a href="//stillh.art" target="_blank">Patrick</a>. Help appreciated :)
            </div>

        </div>
    </div>
</footer>
<script>

  (function(){
    var update = function() {
      var nightmode = localStorage.getItem('nightmode') == 'true'
      nightStyle.disabled = !nightmode
      nightmodeIndicator.innerHTML = (nightmode) ? 'Disable' : 'Enable'
    }
    switchNightmode.onclick = function() {
      localStorage.setItem('nightmode', localStorage.getItem('nightmode') != 'true')
      update()
    }
    update()
  })();

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44179530-9', 'auto');
  ga('send', 'pageview');
</script>
