<navigation>
    <a href="/"><img src="/images/favicon.png" title="wiki.stillh.art" id="logo" /></a>
    <div class="container middle">
        <form action="/search" class="m-0">
            <input type="search" id="searchField" value="{{key}}" placeholder="search code..." autocomplete="off" name="q" id="searchField" title="Search more code" />
            <div id="suggestions" style="display:none"></div>
        </form>
    </div>
    {{#if user}}
        <div id="navUserContainer">
            <img src="{{user.icon}}" class="userIcon" onerror="this.src='/images/profile_default.png'"/>
            <span>{{user.username}}</span>
            <ul>
                <li><a href="/user"><i class="ion-android-person"></i>Profile</a></li>
                <li><a href="/user/settings"><i class="ion-settings"></i>Settings</a></li>
                {{#user.moderatorClearance}}
                    <li><a href="/manage/review"><i class="ion-aperture"></i>Review</a></li>
                {{/user.moderatorClearance}}
                {{#user.administratorClearance}}
                    <li><a href="/manage/users"><i class="ion-android-people"></i>Users</a></li>
                    <li><a href="/manage/changes"><i class="ion-android-time"></i>Changes</a></li>
                    <li><a href="/manage/sitemap"><i class="ion-android-list"></i>Sitemap</a></li>
                {{/user.administratorClearance}}
                <li><a href="/user/logout"><i class="ion-log-out"></i>Logout</a></li>
            </ul>
        </div>
    {{else}}
        <div id="navUserLogin">
            <a href="/user/register" title="Join wiki.stillh.art">Create account</a> <i class="ion-line"></i> <a href="/user/signin" title="Sign into your account">Sign in</a>
        </div>
    {{/if}}
</navigation>
