<input title="Title of the post" type="text" placeholder="Title" class="full-width" name="title" value="{{{page.title}}}" autofocus autocomplete="off" required/>
<small>Separate Tags with commas. No whitespace allowed</small>
<br>
<input id="tagArray" name="tags" type="hidden" value="{{page.tags}}" />
<input id="transientTagField" name="transientTagField" type="text" pattern="^([a-zA-Z0-9\.\-+]{2,20},?)+$" title="Min: 2 Chars and only [a-z,+,-,.]" placeholder="write a crazy tag" />
<div id="tagContainer" class="inline" data-drag="true"></div>
<input type="submit" id="validate" style="position: absolute; left: -9999px" tabindex="-1" name="action" value="save" />

<h2 class="m-t-40">Content</h2>
<textarea id="description" name="content">{{page.content}}</textarea>

<h3 class="m-t-40">Reference</h3>

<div id="links">

    <div id="linkTemplate" class="row none">
        <div class="one column">
            <a class="button small remove" title="remove this"><i class="ion-close-round"></i></a>
        </div>
        <div class="four columns">
            <input type="text" name="linkTitle" placeholder="Title" class="full-width" />
        </div>
        <div class="seven columns">
            <input type="text" name="linkLink" placeholder="Link" class="full-width" />
        </div>
    </div>

    {{#each page.links}}
        <div class="row">
            <div class="one column">
                <a class="button small remove" title="remove this"><i class="ion-close-round"></i></a>
            </div>
            <div class="four columns">
                <input type="text" name="linkTitle" value="{{title}}" placeholder="Title" class="full-width" />
            </div>
            <div class="seven columns">
                <input type="text" name="linkLink" value="{{link}}" placeholder="Link" class="full-width" />
            </div>
        </div>
    {{/each}}

</div>

<a id="addLinkField" class="button" title="add another link field"><i class="ion-plus-round"></i> another link</a>
<br>
