<body style="margin:0;background-color:#fefefe;color:#1d2127">
	<table style="@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);font-family:'Source Sans Pro';border-spacing:0;width:100%;text-align:center;">
		<tr>
			<td style="padding:20px 0;max-width:300px;margin: 0 auto">
				<center>
					<h1 style="font-weight:900;font-size: 3rem;letter-spacing:-.1rem">Hi {{name}}</h1>
				</center>
				We heard that you lost your password for wiki.stillh.art.
				<br> Don't worry; use the button below to reset your password
				<br>
				<br> This code we'll work for 24 hours
				<br>
				<br>
				<br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ecf0f1;">
				<a style="display:inline;width:500px;background:#2196F3;color:#fff;border:0;padding:1.5%5%;font-size:16px;font-weight:bold;cursor:pointer;text-decoration:none;border-radius:2px" href="{{link}}" target="_blank" tabindex=-1 rel=external>reset your password</a>
				<br>
				<br>
				<br>
				<br><a style="text-decoration:none;color:#77b3c3" href="{{link}}" target="_blank" tabindex=-1 rel=external>{{link}}</a>
				<br>
				<br>
			</td>
		</tr>
		<td style="padding:30px 0;width:400px;color:#d9d9d9">
			<p>If you didn't asked for this mail, just ignore it</p>
			<br>
			<br>
			<br>
			<br>
		</td>
	</table>
</body>
