.comment-wrap {
  display   : -webkit-box;
  display   : -webkit-flex;
  display   : -ms-flexbox;
  display   : flex;

  margin-top: 30px;
}

.comment-wrap a:hover {
  color : $primary-color;
  cursor: pointer;
}

.comment-block * {
  border: 1px solid transparent;
}

.comment-block textarea {
  margin    : 0;
  width     : 100%;

  background: transparent;
  resize    : none;
}

.comment-block p {
  margin: 0;
}

.comment-block input {
  margin : 0;
  width  : 100%;
  outline: none;
  border : 1px solid transparent;
}

n .comment-block input::-webkit-input-placeholder {
  color: $light-grey;
}

.comment-block input::-moz-placeholder {
  color: $light-grey;
}

.comment-block input:-moz-placeholder {
  color: $light-grey;
}

.comment-block input:-ms-input-placeholder {
  color: $light-grey;
}

.avatar {
  margin         : 8px 20px 0 0;
  padding        : 3px;
  height         : 36px;
  border-radius  : 50%;
  background-size: contain;
  box-shadow     : 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.comment-block {
  padding          : 20px 25px;
  border-radius    : 3px;
  background-color : #fff;
  box-shadow       : 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  -webkit-box-flex : 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow        : 1;
}

.comment-block-minified {
  max-height        : 28px;
  -webkit-transition: all 1s ease;
  transition        : all 1s ease;
}

.comment-block-minified:hover {
  max-height: 100vw;
}

.comment-bottom-row {
  display   : -webkit-box;
  display   : -webkit-flex;
  display   : -ms-flexbox;
  display   : flex;
  margin-top: 5px;

  color     : $light-grey;
  font-size : 13px;
}

.comment-actions {
  margin-right      : 12px;

  margin-left       : auto;
  opacity           : 0;
  -webkit-transition: opacity .3s ease;
  transition        : opacity .3s ease;
}

.comment-action-hover:hover .comment-actions {
  opacity: 1;
}
