.CodeMirror pre {
  font-family: 'Source Code Pro'!important;
}

.editor-toolbar i.separator:nth-of-type(4) {
  display: none;
}

.disabled {
  position       : fixed;
  top            : 0;
  right          : 0;
  z-index        : 2;
  display        : flex;
  width          : 100%;
  height         : 100%;
  background     : rgba(242, 242, 242,0.8);

  align-items    : center;
  justify-content: center;
}

.modal {
  padding   : 50px 70px;

  max-width : 100%;
  width     : 500px;
  height    : 200px;
  background: #fff;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
}
