header {
  color: #bbb;
}

header h1 {
  margin-bottom: .5rem;
  padding-left : 2rem;

  color        : $secondary-color;
  font-size    : 4.5rem;
}

#mainSearch {
  display: flex;
  margin : 0;
}

#mainSearch input {
  width                     : 100%;
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
  color                     : $secondary-color;
}

#mainSearch button {
  border-top-left-radius   : 0;
  border-bottom-left-radius: 0;
}
