.snippet {
  text-align: justify;
  word-wrap : break-word;
}

.snippet h2 {
  font-size  : 1.6rem;
  line-height: 1.3;
}

.snippet h2 a {
  display: none;
}

.snippet h2:hover a {
  position   : absolute;
  display    : block;
  margin-left: -1.4rem;
  width      : 95%;
  color      : $border-color;
  font-size  : .7em;
  line-height: 1.8;
}
