.actionHistory {
  display       : block;
  margin        : 10px 0;
  padding-bottom: 10px;
  //border-bottom: 1px solid $light-grey;
}

.actionHistory i {
  color      : #fff;
  display    : inline-block;
  text-align : center;
  width      : 30px;
  line-height: 30px;
  height     : 30px;
  background : $primary-color;
}

.actionHistory:hover i {
  background: darken($primary-color, 20%);
}