.searchView {
  display       : flex;
  margin        : 10px 0;
  padding-bottom: 20px;
  border-bottom : 1px solid $light-grey;
}

.searchView .largeTag {
  overflow     : hidden;
  margin-right : 40px;
  width        : 60px;
  height       : 60px;
  background   : $primary-color;
  color        : #fff;
  text-align   : center;
  text-overflow: ellipsis;
  white-space  : nowrap;
  font-size    : 10px;
  font-family  : 'Homenaje';
  line-height  : 60px;
  //  transform: rotate(-90deg);

  flex-shrink  : 0;
}

.searchView:hover .largeTag {
  background: darken($primary-color, 20%);
}

#filter {
  margin-top      : -50px;
  margin-bottom   : 40px;
  padding         : 10px 25px;
  border          : 1px solid #eee;
  border-bottom   : 0;
  background-color: #fafafb;
  box-shadow      : 0 1px 0 rgba(12,13,14,0.15);
}

.listTitle {
  margin-bottom: .2em;
}

#transientTagField {
  border       : 0;
  border-right : 2px solid #1d2127;
  border-radius: 0;
}

@media (#{$bp-smaller-than-phablet}) {
  #filter {
    margin-top: 0;
  }

  #filter > a {
    visibility: hidden;
    float     : right;
    overflow  : hidden;
    padding   : 0;
    width     : 15%;
  }

  #filter > a:before {
    visibility   : visible;
    float        : left;
    box-sizing   : border-box;
    padding      : 0 22px;
    height       : 38px;
    border       : 1px solid #d9d9d9;
    border-radius: 2px;
    background   : $primary-color;
    content      : '+';
    font-size    : 14px;
    line-height  : 38px;
    cursor       : pointer;
  }
}
