<div id="views">
	<div id="viewContainer">
		<a title="View" href="{{page.encodedTitle}}" class="view large">
			<i class="ion-document"></i>
		</a>
		<a class="view active">
			<i class="ion-ios-chatbubble"></i>
		</a>
		<a title="Edit" href="edit" class="view">
			<i class="ion-android-create"></i>
		</a>
	</div>
	<div class="arrow-down"></div>
</div>

<main class="container hasViews">

	<div class="row">
		<div class="twelve columns">
			<h1>Discussion</h1>
			<h5>{{{page.title}}}</h5>
		</div>
	</div>

	<div class="row m-t-40">
		<div class="one column preventCollapse"></div>
		<div class="ten columns">

			<div class="comment-wrap">
				<img src="{{onDefaultIcon user.icon}}" class="avatar" title="you..." />

				<div class="comment-block comment-action-hover">

					{{#user}}
						<input type="text" id="newTitle" placeholder="A title..." name="title" required autocomplete="off" />
						<textarea id="newComment" cols="30" rows="3" placeholder="and a comment..." name="content" required autocomplete="off"></textarea>

						<div class="comment-bottom-row">
							<div class="comment-actions">
								<a class="postButton">Post</a>
							</div>
						</div>
						{{else}}
							Please <a href="/user/signin">Sign in</a> to comment
					{{/user}}

				</div>

			</div>


			<div id="replyBox" style="display:none" class="comment-wrap">
				<img src="{{onDefaultIcon user.icon}}" class="avatar" />

				<div class="comment-block">
					<div class="comment-action-hover">
						<textarea cols="30" rows="3" placeholder="respond..." name="content" required autocomplete="off"></textarea>

						<div class="comment-bottom-row">
							<div class="comment-actions">
								<a class="postButton">Post</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			{{#each page.comments}}
				<div class="comment-wrap" id="{{_id}}">
					<a href="/user/{{username}}" title="{{username}}">
						<img src="{{icon}}" class="avatar" />
					</a>

					<div class="comment-block">
						<div class="comment-action-hover">
							<h5>{{title}}</h5> {{{content}}}
							<div class="comment-bottom-row">
								<div class="comment-date">{{date}}</div>

								<div class="comment-actions" data-comment="{{_id}}">
									{{#@root.user}}
										<a class="flagButton">Flag</a> <i class="ion-line"></i> <a class="replyButton">Reply</a>
									{{/@root.user}}
								</div>

							</div>
						</div>
						<!-- sub comments -->
						{{#each replies}}
							<div class="comment-wrap" id="{{_id}}">
								<a href="/user/{{username}}" title="{{username}}">
									<img src="{{icon}}" class="avatar" />
								</a>

								<div class="comment-block">
									<div class="comment-action-hover">
										<h5>{{title}}</h5> {{{content}}}
										<div class="comment-bottom-row">
											<div class="comment-date">{{date}}</div>
											<div class="comment-actions" data-comment="{{_id}}">
												{{#@root.user}} <a class="flagButton">Flag</a> {{/@root.user}}
											</div>
										</div>
									</div>

								</div>
							</div>
						{{/each}}
						<!-- end -->
					</div>
				</div>
			{{/each}}


		</div>
	</div>

</main>

<script sooner="initialize">
	var replyBox = document.getElementById('replyBox')
	var currentReply = null

	var replyPost = function(e) {

		var post = {
			content: currentReply.getElementsByTagName('textarea')[0].value,
			parent: currentReply.parentNode.parentNode.parentNode.id,
			action: 'post'
		}

		Sooner.getJSON('post', window.location.href, post, function(error, posted) {
			Sooner.navigate( window.location.hash = '#' + posted._id )
		})

	}

	var reply = function(e) {
		if (currentReply) currentReply.parentNode.removeChild(currentReply)

		var newBox = replyBox.cloneNode(true)
		newBox.style.display = ''
		newBox.id = ''
		newBox.getElementsByClassName('postButton')[0].onclick = replyPost

		currentReply = e.target.parentNode.parentNode.parentNode.appendChild(newBox)

	}

	var flag = function(e) {

		var post = {
			id: e.target.parentNode.getAttribute('data-comment'),
			action: 'flag'
		}

		Sooner.getJSON('post', window.location.href, post, function(error, status) {
				setTimeout(function() {
					alert('Thanks. We\'ll have a look at it')
				}, 1)
		})

	}

	var post = function(e) {
		var post = {
			title: document.getElementById('newTitle').value,
			content: document.getElementById('newComment').value,
			action: 'post'
		}

		Sooner.getJSON('post', window.location.href, post, function(error, posted) {
			Sooner.reload()

			setTimeout(function() {
				Sooner.navigate('#' + posted._id)
			}, 200)

		})
	}

	var replyButtons = document.getElementsByClassName('replyButton')
	for (var i = 0, replyButton; replyButton = replyButtons[i]; i++) {
		replyButton.onclick = reply
	}

	var flagButtons = document.getElementsByClassName('flagButton')
	for (var i = 0, flagButton; flagButton = flagButtons[i]; i++) {
		flagButton.onclick = flag
	}

	var postButtons = document.getElementsByClassName('postButton')
	for (var i = 0, postButton; postButton = postButtons[i]; i++) {
		postButton.onclick = post
	}
</script>
