<div id="views">
	<div id="viewContainer">
		<a title="View" href="{{page.encodedTitle}}" class="view large">
			<i class="ion-document"></i>
		</a>
		<a title="Discuss" href="discuss" class="view">
			<i class="ion-ios-chatbubble"></i>
		</a>
		<a class="view active">
			<i class="ion-android-create"></i>
		</a>
	</div>
	<div class="arrow-down"></div>
</div>

<main class="container hasViews">

	{{#limitReached}}
		<div class="disabled">
			<div class="modal">
				<h2>Thanks for contribution</h2>
				<p>Please give us a few hours to review your commit.<br> With more approval, you won't be limited so much</p>
			</div>
		</div>
	{{/limitReached}}

	<div class="row">
		<div class="twelve columns">
			<h1>Edit</h1>
		</div>
	</div>

	<form method="post" id="editForm">

		<div class="twelve columns">

{{> pageEdit}}

			<input title="What did you change?" type="text" placeholder="What did you change?" class="full-width m-t-80" name="changeTitle" required/>
			<br>

			<!-- default action -->
			<!--<input type="hidden" name="action" value="save" />-->
			<button type="submit " class="button-primary" title="Save the changes you made for review" name="action" value="save"><i class="ion-plus-round"></i> Save</button>
			{{#user.moderatorClearance}}
				<button type="submit" title="Suggest to remove this post" name="action" value="delete" onclick="return confirm('Delete this article for sure?')"><i class="ion-trash-b"></i> Remove this Page</a>
					</button>
			{{/user.moderatorClearance}}

		</div>

	</form>
</main>

<script src="/js/tags.js"></script>
<script src="/js/libs/simplemde.min.js"></script>

<script sooner="initialize">

		/* tags            */
		/* =============== */
		initTags()

		/* simpleMDE       */
		/* =============== */
		let simplemde = new SimpleMDE({
			element: document.getElementById('description'),
			autoDownloadFontAwesome: false,
			lineWrapping: false,
			status: [],
			spellChecker: true,
			placeholder: 'share knowledge...',
			hideIcons: ['fullscreen', 'side-by-side'],
			showIcons: ['code', 'table'],
			shortcuts: {
				"toggleFullScreen": null,
				"toggleSideBySide": null,
				"toggleHeadingBigger": null,
				"toggleHeadingSmaller": null
			},
			renderingConfig: {
				singleLineBreaks: true
			}
		})

		/* links           */
		/* =============== */
		let links = document.getElementById('links')
		let linkTemplate = document.getElementById('linkTemplate')
		let addLinkFieldButton = document.getElementById('addLinkField')

		var removeLinkField = function() {
			let row = this.parentNode.parentNode
			row.parentNode.removeChild(row)
		}

		var addLinkField = function() {
			let clone = linkTemplate.cloneNode(true)
			clone.classList.remove('none')
			clone.removeAttribute('id')
			clone.getElementsByClassName('remove')[0].addEventListener('click', removeLinkField)
			links.appendChild(clone)
		}

		addLinkFieldButton.addEventListener('click', addLinkField)
		if (links.children.length === 1) addLinkField()
		else for(var i = 1, tmp; tmp = links.children[i++];) tmp.getElementsByClassName('remove')[0].addEventListener('click', removeLinkField)

</script>
