	<div id="views">
		<div id="viewContainer">
			<a title="View" href="/page/{{page._id}}/{{page.encodedTitle}}" class="view large">
				<i class="ion-document"></i>
			</a>
			<a title="Discuss" href="/page/{{page._id}}/discuss" class="view">
				<i class="ion-ios-chatbubble"></i>
			</a>
			<a title="Edit" href="/page/{{page._id}}/edit" class="view">
				<i class="ion-android-create"></i>
			</a>
		</div>
		<div class="arrow-down"></div>
	</div>

	<main class="container hasViews">

		<div class="row">
			<div class="twelve columns">
				<h1>History</h1>
				<h5>{{{page.title}}}</h5>
			</div>
		</div>

		<div class="row mt40">

			<div class="ten columns">

				<table class="full-width m-t-20">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>User</th>
							<th>Change</th>
						</tr>
					</thead>
					<tbody>

						{{#each page.history}}
							<tr>
								<td nowrap>{{version}}</td>
								<td nowrap>{{date}}</td>
								<td nowrap><a href="/user/{{user}}">{{user}}</a></td>
								<td class="full-width"><a href="/page/{{../page._id}}/history/{{version}}">{{changeTitle}}</a></td>
							</tr>
						{{else}}
							This post is as fresh as a new born baby
						{{/each}}

					</tbody>
				</table>

			</div>
		</div>

	</main>
