	<div id="views">
		<div id="viewContainer">
			<a title="View" href="/page/{{page._id}}/{{page.encodedTitle}}" class="view large">
				<i class="ion-document"></i>
			</a>
			<a title="Discuss" href="/page/{{page._id}}/discuss" class="view">
				<i class="ion-ios-chatbubble"></i>
			</a>
			<a title="Edit" href="/page/{{page._id}}/edit" class="view">
				<i class="ion-android-create"></i>
			</a>
		</div>
		<div class="arrow-down"></div>
	</div>

	<main class="container hasViews">

		<div class="twelve columns">
			On {{change.date}} by <a href="/user/{{change.user}}">{{change.user}}</a>
			<br> Change from <a href="/page/{{page._id}}/history/{{diff.oldVersion}}">version {{diff.oldVersion}}</a> to {{change.version}}
			<br> <b>{{change.changeTitle}}</b>

			<hr>

			<div class="row">
				<div class="twelve columns">
					<h4>{{{diff.diffTitle}}} </h4>
					{{#each diff.diffTags}}
						<span class="tag">{{{.}}}</span>
					{{/each}}
				</div>
			</div>

			<pre class="reviewContainer">{{{diff.diffContent}}}</pre>

			<h4>Links</h4>
			<pre>{{{diff.diffLinks}}}</pre>

		</div>

	</main>
