<main class="container">

	<form method="post" id="editForm">

		<div class="twelve columns snippet">

{{> pageEdit}}

			<button class="button-primary m-t-40" title="Publish"><i class="ion-plus-round"></i> Publish</button>

		</div>

	</form>

</main>

<script src="/js/tags.js"></script>
<script src="/js/libs/simplemde.min.js"></script>

<script sooner="initialize">

	/* tags            */
	/* =============== */
	initTags()

	/* simpleMDE       */
	/* =============== */
	let simplemde = new SimpleMDE({
		element: document.getElementById('description'),
		autoDownloadFontAwesome: false,
		lineWrapping: false,
		status: [],
		spellChecker: true,
		placeholder: 'share knowledge...',
		hideIcons: ['fullscreen', 'side-by-side'],
		showIcons: ['code', 'table'],
		shortcuts: {
			"toggleFullScreen": null,
			"toggleSideBySide": null,
			"toggleHeadingBigger": null,
			"toggleHeadingSmaller": null
		},
		renderingConfig: {
			singleLineBreaks: true
		}
	})

	/* links           */
	/* =============== */
	let links = document.getElementById('links')
	let linkTemplate = document.getElementById('linkTemplate')
	let addLinkFieldButton = document.getElementById('addLinkField')

	var removeLinkField = function() {
		let row = this.parentNode.parentNode
		row.parentNode.removeChild(row)
	}

	var addLinkField = function() {
		let clone = linkTemplate.cloneNode(true)
		clone.classList.remove('none')
		clone.removeAttribute('id')
		clone.getElementsByClassName('remove')[0].addEventListener('click', removeLinkField)
		links.appendChild(clone)
	}

	addLinkFieldButton.addEventListener('click', addLinkField)
	if (links.children.length === 1) addLinkField()
</script>
