// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)
::-webkit-scrollbar {
  width : .7em;
  height: .7em;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

::selection {
  background: #6f79f0;
  color     : #fff;
}

body,
html {
  height: 100vh;
}

body {
  display         : flex;
  flex-direction  : column;
  overflow-x      : hidden;
  overflow-y      : scroll;
  min-height      : calc(100vh - 1px);
  width           : 100vw;
  background-color: $background-color;
  color           : $font-color;
  font-weight     : 400;
  font-family     : $font-family;
  line-height     : 1.6;
}

#wrapper {
  margin-top: $navigation-height + 20;

  flex-grow : 1;
}

@media (#{$bp-smaller-than-phablet}) {
  #wrapper {
    margin-top: 20px;
  }
}

footer {
  z-index         : 3;
  margin-top      : $footer-height*2;
  padding         : ($footer-height / 2) 0;
  border-bottom   : 1px solid $secondary-color;
  /* color fix */
  background-color: $secondary-color;
  color           : #fff;
}

.preload * {
  transition: 0s!important;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color          : $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 20%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top   : 1rem;
  margin-bottom: 1.5rem;
  border-width : 0;
  border-top   : 1px solid $light-grey;
}
