// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
/*
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Black.ttf") format("truetype");
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Source Code Pro';
    src: url("/fonts/SourceCodePro-Regular.otf") format("opentype");
}
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400|Homenaje');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top            : 0;
  margin-bottom         : 2rem;
  font-family           : 'Homenaje';
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 900;
  font-size  : 2.0rem;
  line-height: 1.2;
}

h2 {
  font-size  : 1.8rem;
  line-height: 1.25;
}

h3 {
  font-size  : 1.2rem;
  line-height: 1.3;
}

h4 {
  font-size  : 1rem;
  line-height: 1.35;
}

h5 {
  margin-bottom: 0;
  font-size    : 1rem;
  line-height  : 1.5;
}

h6 {
  margin-bottom: 0;
  font-size    : 1rem;
  line-height  : 1.6;
}

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1.0rem;
  }
}

p {
  margin-top: 0;
}
