// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––
.full-width {
  box-sizing: border-box;
  width     : 100%;
}

.max-full-width {
  box-sizing: border-box;
  max-width : 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.preventCollapse::before {
  content: '\200B';
}

.none {
  display: none;
}

.nobreak {
  white-space: nowrap;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.inline {
  display: inline;
}

.middle {
  display    : flex;

  align-items: center;
}
/*
  margins
*/
.m-0 {
  margin: 0 !important;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-120 {
  margin-top: 120px;
}

.m-t-140 {
  margin-top: 140px;
}
