// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile              : 'min-width: 400px' !default;
$bp-larger-than-phablet             : 'min-width: 700px' !default;
$bp-larger-than-tablet              : 'min-width: 750px' !default;
$bp-larger-than-desktop             : 'min-width: 1000px' !default;
$bp-larger-than-desktophd           : 'min-width: 1200px' !default;

$bp-smaller-than-mobile             : 'max-width: 400px' !default;
$bp-smaller-than-phablet            : 'max-width: 700px' !default;
$bp-smaller-than-tablet             : 'max-width: 750px' !default;
$bp-smaller-than-desktop            : 'max-width: 1000px' !default;
$bp-smaller-than-desktophd          : 'max-width: 1200px' !default;

// Colors 
$light-grey                         : #e1e1e1 !default;
$lighter-light-grey                 : #fafafb !default;
$dark-grey                          : #333 !default;
$primary-color                      : #2196F3 !default;
$secondary-color                    : #1d2127 !default;
$border-color                       : #d9d9d9 !default; // #bbb
$link-color                         : #2196F3 !default;
$font-color                         : #1d2127 !default;
$background-color                   : #fefefe !default;

$success-color                      : #43A047 !default;
$sucess-border                      : #388E3C !default;
$error-color                        : #e74c3c !default;
$error-border                       : #e67e22 !default;

// Typography
$font-family                        : 'Source Sans Pro' !default;

//Grid Variables
$container-width                    : 800px !default;
$container-width-larger-than-mobile : 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns                      : 12 !default;
$column-width                       : 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin                      : 3.9% !default; // space between columns
$navigation-height                  : 60px;
$footer-height                      : 90px;

// Misc
$global-radius                      : 2px !default;