// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––
$darklight: #1d2127 !default;
$dark: #131313 !default;
$darker: #191919 !default;

$light: #b7b7b7 !default;

body {
  background: $dark;
  color     : $light;
}

#viewContainer,
code,
navigation {
  border-bottom-color: $darker;
  background         : $darker;
}

pre:before {
  background: $darker;
}

.view {
  background: $darker;
}

.arrow-down {
  border-top-color: $darker;
}

#navUserContainer *,
#navUserContainer li a,
#navUserContainer:hover {
  border-color: #1d2127;
  color       : $light;
}

#filter,
#navUserContainer ul,
.comment-block,
.editor-toolbar,
.tag,
footer {
  border-color: $darker;
  background  : $darker;
}

.searchView,
i.ion-line,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
th,
td,
hr,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border-color: $darklight;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  color: $light;
}

#views,
.button,
.view,
a,
i.ion-line,
input {
  border-color: $darklight;
}

.tag {
  color: $light;
}

.CodeMirror {
  background: $light;
}
