	<main class="container">

		<div class="twelve columns">

			<div class="twelve columns">

<pre><code class="lang-js"><span class="hljs-comment">	/*
	 * not found ( 404 )
	 * can't find this in our database
	 */</span>
	<span class="hljs-keyword">if</span> (!found) {
	  <span class="hljs-keyword">throw</span> (<span class="hljs-string">' (╯°□°)╯︵ ┻━┻ '</span>)
	}
	</code></pre>

		</div>
	</main>
