	<main class="container">

		<div class="twelve columns">
			<h1>License</h1>

			<small>Version: 1.0 from 12.03.2017</small><br /><br />

			All the text and code (following referred to as content), provided by the
			various authors, are under the MIT license.<br /><br />

You are allowed to do anything with the content, as long as you refer to the original page.
Including  Commercial Use, Modify, Distribute, sublicense and Private Use.
You can not hold the authors or wiki.stillh.art liable. The content is provided "as is".
We will neither pay nor aid with a loss you encounter by using it. <br /><br />

You shall also include the same license to all places where this code is used and
a link to the page of the origin of the contents. This may either be the short or
long version of a link.<br /><br />

If you are participating by publishing or modifying articles you acknowledging and agreeing
 to these same turns. Your account name will be added to the history along with the changes you made.
 You can not add a custom license to your code.<br /><br />


			<pre><code>
			Copyright © 2017 wiki.stillh.art

 Permission is hereby granted, free of charge, to any person obtaining a copy of
 this software and associated documentation files (the "Software"), to deal in the
 Software without restriction, including without limitation the rights to use, copy,
 modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
 and to permit persons to whom the Software is furnished to do so, subject to
 the following conditions:

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

</code></pre>

The domain the brand, the logo and source code of the page are under strict copy right by Patrick Stillhart


		</div>
	</main>
