<div id="views">
	<div id="viewContainer">
		<a class="view large active">
			<i class="ion-document"></i>
		</a>
		<a title="Discuss" href="discuss" class="view">
			<i class="ion-ios-chatbubble"></i>
		</a>
		<a title="Edit" href="edit" class="view">
			<i class="ion-android-create"></i>
		</a>
	</div>
	<div class="arrow-down"></div>
</div>

<main class="container hasViews">

	{{#committed}}
		<div class="disabled">
			<div class="modal">
				<h2>Thanks for your contribution</h2>
				<p>We'll now review your changes.</p>
				<button class="button-primary" onclick="var p = this.parentNode.parentNode;p.parentNode.removeChild(p)">close</button>
			</div>
		</div>
	{{/committed}}

	<div class="row">
		<div class="twelve columns">
			<h1>{{{page.title}}}</h1>
			{{#each page.tags}}
				<a href="/search?tags={{.}}"><span class="tag tag-link">{{.}}</span></a>
			{{/each}}
		</div>
	</div>

	<div class="row m-t-40">

		<div class="twelve columns snippet">

			{{{page.contentRendered}}}

		</div>

	</div>

	<div class="row m-t-100">
		<div class="seven columns">

			<h4 class="m-t-40">Reference</h4>

			{{#each page.links}}

				{{title}} <a href="{{link}}" class="right" rel="nofollow"><i class="ion-link"></i> {{displayLink}}</a>
				<br>

				{{else}}
					No known
			{{/each}}

		</div>

		<div class="two columns preventCollapse"></div>

		<div class="three columns">
			<h4 class="m-t-40 preventCollapse"></h4>
			<div class="nobreak flex">
				<a href="history" class="grow"> <i class="ion-android-time"></i> History </a>{{page.lastUpdate}}</div>
			<div class="socialContainer">
				<input type="checkbox" class="checkbox" id="share" data-link="https://wiki.stillh.art/page/{{page._id}}" data-title="{{{page.title}}}" />
				<label for="share"><i class="ion-android-share"></i> Share </label>
				<div class="social">
					<ul>
						<li id="shareTwitter"><i class="ion-social-twitter"></i></li>
						<li id="shareFacebook"><i class="ion-social-facebook"></i></li>
						<li id="shareGoogle"><i class="ion-social-googleplus"></i></li>
						<li id="shareLink"><i class="ion-ios-copy"></i></li>
					</ul>
				</div>
			</div>

		</div>

	</div>

</main>

<script sooner="initialize">
	var link = encodeURIComponent(document.getElementById('share').getAttribute('data-link'))
	var title = 'Learn more about ' + escape(document.getElementById('share').getAttribute('data-title'))

	document.getElementById('shareTwitter').onclick = function() {
		popupCenter('https://twitter.com/share?url=' + link + '&text=' + title, 'Tweet', '550', '256')
	}

	document.getElementById('shareFacebook').onclick = function() {
		popupCenter('https://www.facebook.com/sharer/sharer.php?u=' + link, 'Tweet', '555', '333')
	}

	document.getElementById('shareGoogle').onclick = function() {
		popupCenter('https://plus.google.com/share?url=' + link, 'Tweet', '550', '430')
	}

	var share = document.getElementById('share')

	document.body.addEventListener('click', function(e) {

		var hit = false
		for (var element, i = 0; element = e.path[i]; i++) {
			if (element.className && !element.className.indexOf('socialContainer')) {
				hit = true
				break
			}
		}

		if (!hit) share.checked = false

	})

	// http://stackoverflow.com/a/30810322/3137109
	document.getElementById('shareLink').onclick = function() {
		var textArea = document.createElement("textarea")
		textArea.style.position = 'fixed'
		textArea.style.top = 0
		textArea.style.left = 0
		textArea.style.width = '2em'
		textArea.style.height = '2em'
		textArea.style.padding = 0
		textArea.style.border = 'none'
		textArea.style.outline = 'none'
		textArea.style.boxShadow = 'none'
		textArea.style.background = 'transparent'
		textArea.value = document.getElementById('share').getAttribute('data-link')

		document.body.appendChild(textArea)

		textArea.select()

		try {
			document.execCommand('copy')
		} catch (err) {
			console.error('Oops, unable to copy')
		}

		document.body.removeChild(textArea)

	}


	// from http://stackoverflow.com/a/16861050/3137109
	function popupCenter(url, title, w, h) {
		// Fixes dual-screen position
		var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left
		var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top

		var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width
		var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height

		var left = ((width / 2) - (w / 2)) + dualScreenLeft
		var top = ((height / 2) - (h / 2)) + dualScreenTop
		var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left)

		// Puts focus on the newWindow
		if (window.focus) newWindow.focus()

	}

</script>
