<main class="container">

	<div class="row">
		<div class="twelve columns" id="filter">

			<form id="editForm" class="m-0 inline">
				<input type="hidden" value="{{key}}" name="q" />

				<input id="tagArray" name="tags" type="hidden" value="{{tags}}" data-key="{{key}}" name="t" />
				<input id="transientTagField" class="m-0" type="text" pattern="^([a-zA-Z0-9\.\-+]{2,20},?)+$" title="Min: 2 Chars and only [a-z,+,-,.]" placeholder="filter by tags" />
				<div id="tagContainer" class="inline" data-drag="false"></div>
				<input type="submit" id="validate" style="position: absolute; left: -9999px" tabindex="-1" />
			</form>

			<a href="/page/new" class="button m-0 right button-primary">Publish an Article</a>

		</div>
	</div>



	{{#if pages.length}}

		{{#each pages}}
			<div class="row">
				<a href="/page/{{_id}}/{{_source.encodedTitle}}">
					<div class="ten columns searchView">
						<div class="largeTag">{{_source.tags.[0]}}</div>

						<div class="tagList">
							<p class="listTitle">{{{_source.title}}}</p>
							{{#each _source.tags}}
								<span class="tag">{{.}}</span>
							{{/each}}
						</div>

					</div>
				</a>
			</div>
		{{/each}}

		<div class="eight columns m-t-40">
			{{{pageNavigation}}}
		</div>

	{{else}}
		<p class="listTitle">There's nothing on this topic... </p>
	{{/if}}

</main>

<script src="/js/tags.js"></script>
<script sooner="initialize">
	initTags()
</script>
