// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display         : inline-block;
  box-sizing      : border-box;
  padding         : 0 30px;
  height          : 38px;
  border          : 1px solid $border-color;
  border-radius   : $global-radius;
  background-color: transparent;
  color           : $secondary-color;
  text-align      : center;
  text-decoration : none;
  text-transform  : uppercase;
  white-space     : nowrap;
  letter-spacing  : .1rem;
  font-weight     : 600;
  font-size       : 11px;
  line-height     : 38px;
  cursor          : pointer;
  font-family     : 'Homenaje';
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display         : inline-block;
    box-sizing      : border-box;
    padding         : 0 30px;
    height          : 38px;
    border          : 1px solid $border-color;
    border-radius   : $global-radius;
    background-color: transparent;
    color           : $secondary-color;
    text-align      : center;
    text-decoration : none;
    text-transform  : uppercase;
    white-space     : nowrap;
    letter-spacing  : .1rem;
    font-weight     : 600;
    font-size       : 11px;
    line-height     : 38px;
    cursor          : pointer;
  }
}

.button:hover,
button:hover {
  outline     : 0;
  border-color: lighten($dark-grey, 33.3%);
  color       : $dark-grey;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    outline     : 0;
    border-color: lighten($dark-grey, 33.3%);
    color       : $dark-grey;
  }
}

.button:focus,
button:focus {
  outline     : 0;
  border-color: $primary-color;
  color       : $dark-grey;
}

input {
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    outline     : 0;
    border-color: $primary-color;
    color       : $dark-grey;
  }
}

.button.button-primary,
button.button-primary {
  border-color    : $primary-color;
  background-color: $primary-color;
  color           : #fff;
}

input {
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary {
    border-color    : $primary-color;
    background-color: $primary-color;
    color           : #fff;
  }
}

.button.button-primary:hover,
button.button-primary:hover {
  border-color    : darken($primary-color, 20%);
  background-color: darken($primary-color, 20%);
  color           : #fff;
}

input {
  &[type="submit"].button-primary:hover,
  &[type="reset"].button-primary:hover,
  &[type="button"].button-primary:hover {
    border-color    : darken($primary-color, 20%);
    background-color: darken($primary-color, 20%);
    color           : #fff;
  }
}

.button.button-primary:focus,
button.button-primary:focus {
  border-color    : darken($primary-color, 20%);
  background-color: darken($primary-color, 20%);
  color           : #fff;
}
