// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code {
  max-width    : 100%;
  overflow-x   : scroll;
  margin       : 0 .2rem;
  padding      : 2px 3px 0 2px;
  border-radius: $global-radius;
  background   : #f8f8f8;
  white-space  : nowrap;
  font-size    : 72%;
  font-family  : 'Source Code Pro';
}

pre > code {
  position   : relative;
  display    : block;
  padding    : 2rem 0;
  margin     : 0;
  white-space: pre;
}

pre {
  position: relative;
}

pre:before {
  width     : 150vw;
  content   : ' ';
  height    : 100%;
  position  : absolute;
  left      : 0;
  background: #f8f8f8;
  transform : translateX(-50vw);
  z-index   : -1;
}

code .lang::after {
  content    : attr(data-text);
  position   : absolute;
  top        : 8px;
  right      : 12px;
  color      : #ccc;
  font-weight: bold;
  direction  : rtl;

}

textarea.codeInput {
  overflow-x: scroll;
  resize    : none;
}

code::-webkit-scrollbar-thumb,
textarea.codeInput::-webkit-scrollbar-thumb {
  background-color: $light-grey;
}

code::-webkit-scrollbar,
textarea.codeInput::-webkit-scrollbar {
  height: 9px;
}
