.info {
  color: #ccc;
}

.new,
.new span {
  background-color: lighten($success-color, 40%);
  color           : darken($success-color, 20%);
}

.old,
.old span {
  background-color: lighten($error-color, 40%);
  color           : darken($error-color, 20%);
  text-decoration : line-through;
}

.reviewContainer {
  border-right: 4px solid $secondary-color;
}
