// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

select,
textarea {
  box-sizing      : border-box;
  padding         : 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  height          : 38px;
  border          : 1px solid $border-color;
  border-radius   : $global-radius;
  background-color: #fff;
  box-shadow      : none;
}

textarea {
  padding-top       : 6px;
  padding-bottom    : 6px;
  min-height        : 65px;
  resize            : vertical;

  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
}

input {
  &[type="submit"].button-primary:focus,
  &[type="reset"].button-primary:focus,
  &[type="button"].button-primary:focus {
    border-color    : darken($primary-color, 20%);
    background-color: darken($primary-color, 20%);
    color           : #fff;
  }

  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    box-sizing        : border-box;
    padding           : 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    height            : 38px;
    border            : 1px solid $border-color;
    border-radius     : $global-radius;
    background-color  : transparent;
    box-shadow        : none;

    -webkit-appearance: none;
    -moz-appearance   : none;
    appearance        : none;
  }
}

.button.small {
  padding    : 0 15px;
  width      : 38px;
  line-height: 41px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    outline: 0;
    border : 1px solid $primary-color;
  }
}

select:focus,
textarea:focus {
  outline: 0;
  border : 1px solid $primary-color;
}

label,
legend {
  display      : block;
  margin-bottom: .5rem;
  font-weight  : 600;
}

fieldset {
  padding     : 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display    : inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.for-checkbox {
  position    : relative;
  display     : inline-block;
  margin-top  : 8px;
  padding-left: 2rem;
}

.for-checkbox:before {
  position     : absolute;
  top          : 4px;
  left         : 0;
  display      : block;
  width        : 1rem;
  height       : 1rem;
  border       : 1px solid $border-color;
  border-radius: $global-radius;
  content      : '';
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  border-color: $primary-color;
  background  : $primary-color;
}

.error {
  display      : block;
  margin-top   : 0;
  margin-bottom: 15px;
  padding      : 3px 15px;
  border       : 1px solid $error-border;
  border-radius: 2px;
  background   : $error-color;
  color        : #fff;
}

.success {
  display      : block;
  margin-top   : 0;
  margin-bottom: 15px;
  padding      : 3px 15px;
  border       : 1px solid $sucess-border;
  border-radius: 2px;
  background   : $success-color;
  color        : #fff;
}
