/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.container {
  box-sizing  : border-box;
  margin-right: auto;
  margin-left : auto;
  padding     : 22px;
  max-width   : $container-width;
  width       : 100%;
}

.column,
.columns {
  float     : left;
  box-sizing: border-box;
  width     : 100%;
}

// For devices larger than 400px
@media (#{$bp-larger-than-mobile}) {
  .container {
    padding: 0;
    width  : $container-width-larger-than-mobile;
  }
}

// For devices larger than 550px
@media (#{$bp-larger-than-phablet}) {
  .container {
    width: $container-width-larger-than-phablet;
  }

  .column,
  .columns {
    margin-left: $column-margin;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: grid-column-width(1);
  }

  .two.columns {
    width: grid-column-width(2);
  }

  .three.columns {
    width: grid-column-width(3);
  }

  .four.columns {
    width: grid-column-width(4);
  }

  .five.columns {
    width: grid-column-width(5);
  }

  .six.columns {
    width: grid-column-width(6);
  }

  .seven.columns {
    width: grid-column-width(7);
  }

  .eight.columns {
    width: grid-column-width(8);
  }

  .nine.columns {
    width: grid-column-width(9);
  }

  .ten.columns {
    width: grid-column-width(10);
  }

  .eleven.columns {
    width: grid-column-width(11);
  }

  .twelve.columns {
    margin-left: 0;
    width      : 100%;
  }

  .one-third.column {
    width: grid-column-width(4);
  }

  .two-thirds.column {
    width: grid-column-width(8);
  }

  .one-half.column {
    width: grid-column-width(6);
  }

  .keepMinWidth {
    min-width: 300px;
    max-width: 100%;
  }

}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container:after,
.row:after,
.u-cf {
  display: table;
  clear  : both;
  content: '';
}
