i.ion-90 {
  transform: rotate(90deg);
}

.ion-line,
i.ion-line {
  margin      : 0 8px;
  border-right: 1px solid $light-grey;
}

.ion-bold:before,
i.ion-bold:before {
  content    : 'B';
  font-weight: bold;
  font-family: $font-family;
}

.ion-italic:before,
i.ion-italic:before {
  content    : 'I';
  font-style : italic;
  font-family: $font-family;
}

.ion-strikethrough:before,
i.ion-strikethrough:before {
  content        : 'S';
  text-decoration: line-through;
  font-weight    : bold;
  font-family    : $font-family;
}

.ion-heading:before,
i.ion-heading:before {
  content    : 'H';
  font-family: $font-family;
}
