// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ol {
  list-style: decimal inside;
}

ul {
  margin-top  : 0;
  padding-left: 0;

  ol,
  ul {
    margin   : 1rem 0 1.5rem -1rem;
    font-size: 90%;
  }
}

ol {
  ol,
  ul {
    margin   : 1rem 0 1.5rem -1rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
  margin-left  : 3rem;
}

blockquote {
  padding-left: 2rem;
  border-left : .5rem solid $primary-color;
}
