navigation {
  position        : relative;
  z-index         : 100;
  display         : flex;
  width           : 100%;
  height          : $navigation-height;
  //border-top: 3px solid $primary-color;
  background-color: #fafafb;
  box-shadow      : 0 1px 0 rgba(12,13,14,0.15);
}

navigation.clean {
  border-bottom: 1px solid transparent;
  box-shadow   : none;
}

#logo {
  margin: 9px 5px 0 14px;
  width : 40px;
  height: 40px;
}

#searchbox {
  flex-grow: 1;
}

navigation form {
  position : relative;
  max-width: 320px;
  width    : 100%;
}

navigation #searchField {
  margin       : 0;
  padding      : 0 25px;
  width        : 100%;
  height       : 33px;
  border       : 0;
  border-left  : 2px solid $secondary-color;
  border-radius: 0;
}

#suggestions {
  position          : absolute;
  width             : 100%;
  border            : 1px solid $border-color;
  border-top-color  : $border-color;
  background        : #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow        : 0 2px 4px rgba(0, 0, 0, 0.2);
}

#suggestions a {
  display  : block;
  padding  : 4px 10px;
  border   : 1px solid transparent;
  color    : $font-color;
  font-size: 13px;
}

#suggestions a.active,
#suggestions a:hover {
  background: $light-grey;
  color     : $font-color;
}

#suggestions a.active {
  border: 1px dashed darken($light-grey, 30%);
}

#views {
  position  : fixed;
  bottom    : 0;
  z-index   : 10;
  width     : 100%;
  border-top: 1px solid lighten($dark-grey, 10%);
}

#viewContainer {
  display: flex;

}

.view {
  padding         : 13px 0;
  background-color: $secondary-color;
  color           : lighten($dark-grey, 10%);
  text-align      : center;
  font-size       : 25px;
  line-height     : 20px;

  flex-grow       : 1;
}

.view.active,
.view:hover {
  color: #fff;
}

.view.active,
.view:hover {
  color: #fff;
}
@media (#{$bp-larger-than-phablet}) {
  #views {
    position  : absolute;
    top       : 0;
    right     : auto;
    bottom    : auto;
    z-index   : 10;
    margin-top: $navigation-height;
    width     : 70px;
  }

  #viewContainer {
    display         : block;
    height          : 352px;
    border-bottom   : 1px solid $secondary-color;
    background-color: $secondary-color;
  }

  .view {
    display      : block;
    margin-top   : auto;
    padding      : 10px 0;
    border-bottom: 1px solid lighten($dark-grey, 10%);
    border-radius: 0;
    color        : lighten($dark-grey, 10%);
    text-align   : center;
    font-size    : 30px;
    line-height  : inherit;
    transition   : color .1s ease;
  }

  .view.large {
    padding: 30px 0;
  }

  .arrow-down {
    width       : 0;
    height      : 0;
    border-top  : 35px solid $secondary-color;
    border-right: 35px solid transparent;
    border-left : 35px solid transparent;
  }
}
