#navUserLogin {
  color          : $light-grey;
  text-decoration: none;
  font-size      : 16px;
}

#navUserContainer,
#navUserLogin {
  position : absolute;
  top      : 11px;
  right    : 30px;
  display  : inline-block;
  padding  : 5px 20px;
  min-width: 90px;
  border   : 1px solid transparent;
  color    : $secondary-color;
}
@media (#{$bp-smaller-than-phablet}) {
  #navUserLogin > *:not(:last-child) {
    display: none;
  }

  #navUserLogin {
    text-align: right;
  }
}

#navUserContainer:hover {
  border: 1px solid $border-color;
}

.userIcon {
  margin-right  : 10px;
  width         : 30px;
  height        : 30px;
  border-radius : 50%;
  vertical-align: middle;
}

#navUserContainer span {
  display        : inline-block;
  vertical-align : middle;
  text-decoration: none;
}

#navUserContainer:hover ul,
#navUserContainer:hover ul {
  display: block;
}

#navUserContainer ul {
  position          : absolute;
  right             : -1px;
  display           : none;
  padding           : 10px 8px;
  min-width         : 170px;
  border            : 1px solid $border-color;
  border-top-color  : $border-color;
  border-radius     : 2px;
  background        : #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow        : 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style        : none;
}

#navUserContainer li {
  margin: 0;
  cursor: pointer;
}

#navUserContainer li i {
  margin-right: 10px;
}

#navUserContainer li a {
  display    : block;
  padding    : .7rem 1.1rem;

  color      : $secondary-color;
  font-weight: 400;
}

#navUserContainer li a:hover {
  background: $secondary-color;

  color     : #fff;
}

@media (#{$bp-smaller-than-phablet}) {
  #navUserContainer {
    min-width: 0;
  }

  #navUserContainer > span {
    display: none;
  }
}
