.socialContainer .checkbox {
  display: none;
}

.socialContainer .checkbox:checked~ .social {
  opacity  : 1;
  transform: scale(1) translateY(-90px);
}

.socialContainer label {
  color              : $link-color;
  font-weight        : normal;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.socialContainer label:hover {
  color: darken($link-color, 20%);
}

.socialContainer .social {
  opacity         : 0;
  transition      : .3s;
  transform       : scale(0) translateY(-190px);

  transform-origin: 50% 0;
}

.socialContainer ul {
  margin    : -5px auto 0;
  width     : 240px;
  height    : 48px;
  background: $secondary-color;
}

.socialContainer ul li {
  display   : block;
  float     : left;
  margin    : 0;
  padding   : 8px 0;
  width     : 60px;
  text-align: center;

  font-size : 20px;
  cursor    : pointer;
}

.socialContainer ul:after {
  position    : absolute;
  left        : 27px;
  display     : block;
  margin      : 46px auto;
  width       : 0;
  height      : 0;
  border-top  : 20px solid $secondary-color;
  border-right: 20px solid transparent;
  border-left : 20px solid transparent;

  content     : '';
}

.social li {
  padding: 9px 0;
}

li .ion-social-twitter {
  color: #55acee;
}

li:hover .ion-social-twitter {
  color: darken(#55acee, 20%);
}

li .ion-social-facebook {
  color: #3b5999;
}

li:hover .ion-social-facebook {
  color: darken(#3b5999, 20%);
}

li .ion-social-googleplus {
  color: #dd4b39;
}

li:hover .ion-social-googleplus {
  color: darken(#dd4b39, 20%);
}

li .ion-ios-copy {
  color: $link-color;
}

li:hover .ion-ios-copy {
  color: darken($link-color, 20%);
}