// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

td,
th {
  padding      : 12px 15px;
  border-bottom: 1px solid $light-grey;
  text-align   : left;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}
