.tag {
  display         : inline-block;
  margin          : 1px 2px;
  padding         : 3px 15px;
  border          : 1px solid #eee;
  border-radius   : 4px;
  background-color: #f8f8f8;
  color           : $secondary-color;
  white-space     : nowrap;
  font-size       : 13px;
}

.tag-link:hover {
  border          : 1px solid $secondary-color;
  background-color: $secondary-color;
  color           : #fff;
}

.tag.over {
  border: 1px dashed $border-color;
}

.tag.delete {
  border          : 1px solid $error-border;
  background-color: $error-color;
}

.tag .remove {
  display     : none;
  margin-right: -2px;
  margin-left : 6px;
  font-size   : 12px;
  cursor      : pointer;
}

.tag.delete .remove {
  display: inline;
}

[draggable] {
  -moz-user-select   : none;
  -webkit-user-select: none;
  user-select        : none;
}
