<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name='msapplication-TileImage' content='/images/favicon.png' />
	<meta name='msapplication-TileColor' content='#1d2127' />
	<meta name='theme-color' content='#2196F3' />

	<meta name="robots" content="index, follow" />

	<link rel="shortcut icon" href="/images/favicon.png" />

	<title>{{{title}}} | wiki</title>
	{{#if page}}
		<link rel="canonical" href="https://wiki.stillh.art/page/{{page.id}}/{{page.encodedTitle}}" />

		<meta name="description" content="{{page.description}}" />
		<meta name="keywords" content="{{page.tags}}" />

		<meta property="og:site_name" content="wiki.stillh.art" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="{{page.title}}" />
		<meta property="og:url" content="https://wiki.stillh.art/page/{{page.id}}" />
		<meta property="article:published_time" content="{{page.lastUpdate}}" />
		<meta property="article:tag" content="{{page.tags}}" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{page.title}}" />
		<meta name="twitter:url" content="https://wiki.stillh.art/page/{{page.id}}" />
	{{else}}
		<meta name='description' content='A language-independent collaborative code library.' />
	{{/if}}

	<meta name="google-site-verification" content="jet5Zbgy7-rf8z2EGFrtWJvPQR3n5YgfjS4h6vZbnNk" />

	<link href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css' rel='stylesheet' type='text/css'>
	<link href='/style/ionicons.min.css' rel='stylesheet' type='text/css'>
	<link href="/style/main.css" rel="stylesheet">
	<link rel="stylesheet" href="/style/simplemde.min.css" async>
	<link rel="stylesheet" href="/style/code/custom.css" async>
	<link rel="stylesheet" href="/style/dark.css" id="nightStyle" disabled>

</head>
<body>

	<div id="navWrapper">
		{{> nav this}}
	</div>

	<div id="wrapper">
		{{{body}}}
	</div>

	{{> footer}}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.runtime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

<script src="/js/sooner.js"></script>
<script src="/js/all.js" async></script>

</html>
