<main class="container">

	<div class="row">
		<div class="one-third column preventCollapse"></div>
		<div class="one-third column keepMinWidth">
			<h1 class="nobreak">Reset password</h1>
			<p>Just enter what you know</p>

			{{#error}}
				<p class="error">{{.}}</p>
			{{/error}}

			{{#success}}
				<p class="success">{{.}}</p>
			{{/success}}

			<form method="post">
				<input type="text" name="username_email" placeholder="Username or eMail" class="full-width" required autofocus/>
				<input type="submit" value="Send" class="right" />
			</form>

		</div>
		<div class="one-third column"></div>
	</div>

</main>
