<main class="container">

	<div class="row">
		<div class="three columns">
			<img src="{{largeIcon}}" title="{{foreignUser.username}}" class="full-width" />
			<h3 class="m-0">{{foreignUser.username}}</h3> {{foreignUser.name}}

			<hr/>
			<i class="ion-android-time"></i>&nbsp;&nbsp;<span>Joined {{foreignUser.creation}}</span>
			<br>
			{{#foreignUser.location}}<i class="ion-ios-location"></i>&nbsp;&nbsp;<span>{{.}}</span>
				<br>{{/foreignUser.location}}
			{{#foreignUser.showEMail}}<i class="ion-android-mail"></i>&nbsp;&nbsp;<a href="mailto:{{foreignUser.email}}" rel="nofollow">{{foreignUser.email}}</a>
				<br>{{/foreignUser.showEMail}}
			{{#foreignUser.website}}<i class="ion-link"></i>&nbsp;&nbsp;<a href="{{.}}" rel="nofollow">{{.}}</a>
				<br>{{/foreignUser.website}}

		</div>
		<div class="five columns preventCollapse">
			<b>Pages changed </b> {{foreignUser.acceptedRequests}}
			<div class="snippet">{{{foreignUser.bio}}}</div>
		</div>
		<div class="four columns">
			<canvas id="activityChart" width="600" height="350" data-from="{{currentMonth}}" data-data="{{foreignUser.timeline}}"></canvas>
		</div>

		<div class="eight columns">
			<hr>
			<h5>Last 7 contributions</h5>
			{{#each foreignUser.actions}}

				<a href="{{{renderTypeToLink type pageId changeId}}}" class="actionHistory">
								{{{renderType type}}} &nbsp; {{comment}}
						</a>


				{{else}}
					{{foreignUser.username}} hasn't done anything yet
			{{/each}}

		</div>

	</div>

</main>

<script src="/js/libs/Chart.min.js"></script>
<script sooner="initialize">
var month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

function rotate(array, index) {
	for (var i = 0; i < array.length; i++)
		if (!array[i] || array[i].length == 0) array[i] = undefined
	return array.splice(index, array.length).concat(array.splice(0, index))
}

var activityChart = document.getElementById('activityChart')
var currentMonth = activityChart.getAttribute('data-from') * 1 + 1
var data = {
	labels: rotate(month_names_short, currentMonth),
	datasets: [{
		label: 'Activity',
		backgroundColor: 'rgba(30,174,219,0.3)',
		borderColor: '#2196F3',
		borderCapStyle: 'butt',
		pointBorderColor: '#2196F3',
		pointBackgroundColor: '#fff',
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: '#2196F3',
		pointHoverBorderColor: 'rgba(220,220,220,1)',
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 7,
		data: rotate(activityChart.getAttribute('data-data').split(','), currentMonth),
	}]
}

var options = {
	scales: {
		yAxes: [{
			display: true,
			ticks: {
				suggestedMax: 3,
				suggestedMin: 0
			}
		}]
	}
}

new Chart(activityChart, { type: 'line', data: data, options: options })
</script>
