<main class="container">

	<div class="row">
		<div class="one-third column preventCollapse"></div>
		<div class="one-third column keepMinWidth">
			<h1>Join us!</h1> Already a member? <a href="/user/signin">Sign in</a>
			<br><br>
			By registering you are agreeing to the terms under <a href="/license">License</a><br />
			<br>

			{{#error}}
				<p class="error">{{.}}</p>
			{{/error}}

			<form method="post">

				<input type="text" name="username" placeholder="Username*" class="full-width" value="{{proposedUser.username}}" minLength="3" maxlength="20" required autofocus/>
				<input type="email" name="email" placeholder="Mail*" class="full-width" value="{{proposedUser.email}}" />

				<input type="password" name="password" id="password" placeholder="Choose a password*" class="full-width m-t-20" value="{{proposedUser.password}}" minLength="4" maxlength="100" required/>
				<input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repeat that password*" class="full-width" required/>

				<input type="submit" value="Sign up" class="right m-t-20" />

			</form>

		</div>
	</div>

</main>

<script src="/js/passwordRepeat.js"></script>

<script sooner="initialize">
	passwordRepeat()
</script>
