<main class="container">

	<div class="row">
		<div class="one-third column preventCollapse"></div>
		<div class="one-third column keepMinWidth">
			<h1 class="nobreak">Reset password</h1>
			<p>Now enter your new desired password</p>

			{{#error}}
				<p class="error">{{.}}</p>
			{{/error}}

			<form method="post">
				<input type="password" name="password" id="password" placeholder="Choose a password" class="full-width" value="{{proposedUser.password}}" minLength="4" maxlength="100" required/>
				<input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repeat that password" class="full-width" required/>

				<input type="submit" value="Set" class="right" />
			</form>

		</div>
		<div class="one-third column"></div>
	</div>

</main>

<script src="/js/passwordRepeat.js" async></script>
