<main class="container">

    <div class="row">
        <div class="twelve columns">
            <h1>Settings</h1>
        </div>
    </div>

    <div class="row">
        <div class="two columns">
            <img src="{{realUser.largeIcon}}" class="max-full-width" />
        </div>
        <div class="six columns m-t-20">
            Profile pictures are served by <a href="//gravatar.com/" target="_blank">Gravatar</a>.
            <br> Login there to change it.
        </div>
    </div>

    <div class="row">
        <form method="post" class="one-half column">
            <h3 class="m-t-20"><i class="ion-earth"></i> &nbsp; Profile</h3>
            {{#profileError}}
                <p class="error">{{.}}</p>
            {{/profileError}}

            {{#profileSuccess}}
                <p class="success">{{.}}</p>
            {{/profileSuccess}}

            <input id="name" name="name" type="text" class="full-width m-t-20" placeholder="name" value="{{realUser.name}}" maxlength="40" />
            <input id="location" name="location" type="text" class="full-width" placeholder="location" value="{{realUser.location}}" maxlength="40" />
            <input id="website" name="website" type="text" class="full-width" placeholder="website" value="{{realUser.website}}" maxlength="70" />


            <label for="bio" class="m-t-20">About you</label>
            <textarea id="bio" name="bio" class="full-width" maxlength="20">{{realUser.bioRaw}}</textarea>

            <input type="hidden" name="action" value="profile" />
            <input type="submit" class="button-primary m-t-20" value="save" />

        </form>

        <div class="one-half column">
            <h3 class="m-t-20"><i class="ion-locked"></i> &nbsp; Account</h3>
            {{#accountError}}
                <p class="error">{{.}}</p>
            {{/accountError}}

            {{#accountSuccess}}
                <p class="success">{{.}}</p>
            {{/accountSuccess}}
            <form method="post">
                <label for="passwordEmail">Mail</label>
                <input type="password" name="currentPassword" id="passwordEmail" placeholder="current password" class="full-width" minLength="4" maxlength="100" required/>
                <input id="email" name="email" type="text" placeholder="mail adress" class="full-width m-0 m-t-20" value="{{realUser.email}}" />
                <input id="showemail" name="showemail" type="checkbox" {{checked realUser.showEMail}}>
                <label for="showemail" class="for-checkbox">show in profile</label>
                <br>

                <input type="hidden" name="action" value="email" />
                <input type="submit" class="button-primary m-t-20" value="set mail" />
            </form>
            <form method="post">
                <label for="currentPassword" class="m-t-40">Password</label>

                <input type="password" name="currentPassword" id="currentPassword" placeholder="current password" class="full-width" minLength="4" maxlength="100" required/>

                <input type="password" name="password" id="password" placeholder="new password" class="full-width m-t-20" minLength="4" maxlength="100" required/>
                <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="repeat that password" class="full-width" required/>

                <input type="hidden" name="action" value="password" />
                <input type="submit" class="button-primary m-t-20" value="set password" />
            </form>
        </div>


    </div>


</main>


<style>
    .CodeMirror,
    .CodeMirror-scroll {
        min-height: 150px
    }
</style>

<script src="/js/libs/simplemde.min.js"></script>
<script src="/js/passwordRepeat.js"></script>

<script sooner="initialize">
let simplemde = new SimpleMDE({
	element: document.getElementById('bio'),
	autoDownloadFontAwesome: false,
	lineWrapping: false,
	spellChecker: false,
	hideIcons: ['fullscreen', 'side-by-side', 'preview'],
	showIcons: ['code'],
	shortcuts: {
		"toggleFullScreen": null,
		"toggleSideBySide": null,
		"toggleHeadingBigger": null,
		"togglePreview": null,
		"toggleHeadingSmaller": null
	},
	renderingConfig: {
		singleLineBreaks: true
	}
})

passwordRepeat()

</script>
