	<main class="container">

		<div class="row">
			<div class="one-third column preventCollapse"></div>
			<div class="one-third column keepMinWidth">
				<h1>Sign in</h1> Not a member? <a href="/user/register">Create account</a> now
				<br>
				<br>

				{{#error}}
					<p class="error">{{.}}</p>
				{{/error}}

				{{#success}}
					<p class="success">{{.}}</p>
				{{/success}}

				<form method="post">
					<input type="text" name="username" value="{{username}}" placeholder="Username" class="full-width" required autofocus/>
					<input type="password" name="password" placeholder="Password" class="full-width" required/>

					<a href="/user/forgot">forgot password?</a>

					<input type="submit" value="Sign in" class="right" />
				</form>

			</div>
		</div>

	</main>
