/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/

.hljs {
  color: #525252;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #ae81ff;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #e96900;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #629755;
}

.hljs-comment,
.hljs-quote {
  color: #b3b3b3;
}

.hljs-meta {
  color: #a6e22e;
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #42b983;
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: #2973b7;
}

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #2973b7;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
