<main class="container">

	<div class="twelve columns">
		<h1>Changes</h1>

		<pre><code id="logContainer" style="height: 320px"></code></pre>

	</div>
</main>

<script sooner="initialize">
	var logContainer = document.getElementById('logContainer')
	var getNiceDateTime = function(date) {
		date = new Date(date)
		var m = date.getMonth() + 1
		var dd = date.getDate()
		var mm = date.getMinutes()
		return ((m < 10) ? '0' + m : m) + '.' + ((dd < 10) ? '0' + dd : dd) + ' @ ' + date.getHours() + ':' + ((mm < 10) ? '0' + mm : mm)
	}

	Sooner.getJSON('get', '/manage/changes/update', null, function(error, logFile) {
		if (error) return alert(error.statusText)

		var logs = logFile.file,
			content = ''
		for (var entry, i = 0; entry = logs[i]; i++) {
			if (!entry.message) continue
			content += '[' + getNiceDateTime(entry.timestamp) + '] ' + '[' + entry.level + '] ' + entry.message + '\n'
		}
		logContainer.innerHTML = content
	})
</script>
