<main class="container">

	<h1>Review</h1>
	<div class="twelve columns">

		<table class="full-width m-t-20">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>User</th>
					<th>Change</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{{#each requests}}
					<tr>
						<td nowrap>{{version}}</td>
						<td nowrap>{{date}}</td>
						<td nowrap><a href="/user/{{user}}">{{user}}</a></td>
						<td class="full-width">{{changeTitle}}</td>
						<td><a href="/manage/review/{{_id}}" class="button small m-0"><i class="ion-aperture"></i></a></td>
					</tr>
					{{else}}
						No review tasks
				{{/each}}

			</tbody>
		</table>

	</div>

</main>
