<main class="container">

	<div class="twelve columns">
		Date: {{request.date}} by <a href="/user/{{request.user}}">{{request.user}}</a>
		<br> Version: <a href="/page/{{page._id}}/{{page.encodedTitle}}">current {{page.version}}</a> to {{request.version}}
		<br> Comment: <b>{{request.changeTitle}}</b>
		<h4 class="m-t-20">{{{diff.diffTitle}}}</h4>
		<pre class="reviewContainer">{{{diff.diffTags}}}</pre>
		<b>Content</b>
		<pre class="reviewContainer">{{{diff.diffContent}}}</pre>
		<b>Links</b>
		<pre class="reviewContainer">{{{diff.diffLinks}}}</pre>

	</div>

	<form method="post">
		<button type="submit" name="action" value="approve"><i class="ion-checkmark"></i></button>
		<button type="submit" name="action" value="decline"><i class="ion-close"></i></button>
	</form>

</main>
