<main class="container">

		<div class="twelve columns">
			<h1>Users</h1>

			<form>
				<input type="text" placeholder="search a user..." name="username" title="Search for a user by username" />
				<button type="submit" class="button small"><i class="ion-android-search"></i></button>
			</form>

			<table class="full-width">
				<thead>
					<tr>
						<th></th>
						<th>Username</th>
						<th>Mail</th>
						<th>Creation</th>
						<th>Clearance</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{#each users}}
						<tr>
							<td><img src="{{icon}}" class="userIcon" /></td>
							<td><a href="/user/{{username}}">{{username}}</a></td>
							<td>{{email}}</td>
							<td>{{creation}}</td>
							<td>{{clearance}}</td>
							<td nowrap><a class="m-0 button small" href="/manage/users/action?action=promote&id={{_id}}" title="Promote"><i class="ion-android-arrow-up"></i></a>
								{{#lock}}
									<a class="m-0 button small" href="/manage/users/action?action=lock&id={{_id}}" title="Lock"><i class="ion-android-lock"></i></a>
								{{/lock}}{{^lock}}
								<a class="m-0 button small" href="/manage/users/action?action=unlock&id={{_id}}" title="Unlock"><i class="ion-android-unlock"></i></a>
								{{/lock}}
								<a class="m-0 button small" href="/manage/users/action?action=delete&id={{_id}}" title="Delete" onclick="return confirm('Delete this user for sure?')"><i class="ion-android-delete"></i></a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>

			Page {{pageNumber}} of {{count}}

		</div>

	</main>
